body {
    margin: 50px auto;  /* reduced from 60px */
    width: 80%;
    max-width: 800px;  /* added */
}
nav ul, footer ul {
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family:'Verdana', 'Geneva', 'sans-serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Verdana', 'Geneva', 'sans-serif';
}
a {
    text-decoration: none;
    color: #0366d6 /* #777; */
}
a:hover {
    text-decoration: underline;
    /* color: #808080 /* not prevously specified */
}
li {
    /* added this one to zap a Times New Roman that was sneaking in from somewhere */
    font-family:'Verdana', 'Geneva', 'sans-serif';
}
h1 {
    font-size: 2em; /* was 3em */
    font-family:'Verdana', 'Geneva', 'sans-serif';
}
h2 {
    font-size: 1.5em; /* not specified before */
    font-family:'Verdana', 'Geneva', 'sans-serif';
}
p {
    /* font-size: 1.5em; */   /* was 1.5 */
    /* line-height: 1.4em; /* was 1.4 */
    /* color: #333; */
    font-family:'Verdana', 'Geneva', 'sans-serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.0em;
    font-family:'Verdana', 'Geneva', 'sans-serif';
}

ul.posts { 
    margin: 20px auto 40px;
    font-family:'Verdana', 'Geneva', 'sans-serif';
    /* font-size: 1.5em; */
    /*font-size: 1.2em; */
}

ul.posts li {
    list-style: none;
    font-family:'Verdana', 'Geneva', 'sans-serif';
    /* font-size: 1.5em; */
    /* font-size: 1.5em; /* not specified before */
}

tr {
    /* Trying to control table display */
    font-family:'Verdana', 'Geneva', 'sans-serif';
    font-size: 0.8em;
    background-color: Ghostwhite;
}

code {
    /* Trying to control table display */
    font-size: 1.5;
    font-family:'Courier', 'sans-serif';
}
